@import './common.scss';


$default_color: rgb(250, 250, 250);

.login-form-box{
    @include default_square();
    background-color: $default_color
}
.center{
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.center-form{
    width: 90%;
}
.top{
    margin-top:20px;
}

